/*-------------------------------------------------------------------- 
  
   Module: Pack CSS
   Author: Ram Nanduri
   What it does:
  	CSS for Pack   
---------------------------------------------------------------------- */
* {
	font-family: sans-serif;
}
.cssClassLink {
	fill: none;
	stroke: steelblue;
	stroke-width: 1.5px;
} 
.cssClassNode text {
	fill: steelblue;
	font: 10px sans-serif;
} 
.cssClassNode.rootNode circle {
	stroke: steelblue;
	fill: lightblue;
	stroke-width: 1.5px;
}

.cssClassNode.intermediateNode circle {
	stroke: steelblue;
	fill: pink;
	stroke-width: 1.5px;
}

.cssClassNode.leafNode circle {
	stroke: steelblue;
	fill: hotpink;
	stroke-width: 1.5px;
}

.cssClassNode :hover
{
	font: 14px sans-serif;
}
.cssClassNode.highlight  circle {
	stroke: black;
	fill: yellow;
	stroke-width: 1.5px;
}
.cssClassNode.highlight text {
	fill: black;
	font: 12px sans-serif;
} 
.cssClassNode {
	cursor: pointer;
}
.cssClassLink {
	pointer-events: none;
}